$black: #0B0A09;
$dark: #221E1C;
$mid: #38332E;
$light: #4E4741;
$detail: #FCA964;
$white: #FFFFFF;

$mainFont: 'Montserrat', Helvetica, Myriad Pro, Arial, sans-serif;
$headerFont: 'Pontano Sans', Helvetica, Myriad Pro, Arial, sans-serif;
$logoFont: $headerFont;
$navFont: $mainFont;

$minWidth: 400px;
$readableMaxWidth: 720px;
$edgeMargin: 40px;
$edgeMarginSmall: 10px;

$tabletMinWidth: 700px;
$desktopMinWidth: 900px;
