:root{
	--papayaWhip: #FFF0DD;
	--nevajoWhite: #FEDFAB;
	--brightYellow: #FAA719;
	--jet: #323232;
}

@font-face{
	font-family: "EncodeSans-Condensed-Light";
	src: url(../fonts/EncodeSansCondensed-Light.woff);
}

@font-face{
	font-family: "EncodeSans-Regular";
	src: url(../fonts/EncodeSans-Regular.woff);
}

@font-face{
	font-family: "EncodeSans-SemiExpanded-SemiBold";
	src: url(../fonts/EncodeSansSemiExpanded-SemiBold.woff);
}

@font-face{
	font-family: "EncodeSans-SemiExpanded-ExtraBold";
	src: url(../fonts/EncodeSansSemiExpanded-ExtraBold.woff);
}
h1, h2, h3, h4, h5, h6, p, img, a, div, nav, body, html{
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
}

html, body{
	background-color: var(--papayaWhip);
	height: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
	z-index: 3;
}

body{
	background-color: var(--papayaWhip);
	color: var(--yet);
	font-family: EncodeSans-Regular, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 12pt;
	line-height: 20;
	text-decoration: none;
	overflow-x: hidden;

	display: grid;
	grid-template-rows: auto 1fr;
}

.box{
	padding: 2px;
	border: 1px dotted green;
}

a{text-decoration: none;}

.textLink:link, .textLink:visited{
	transition: 0.25s;
	color: var(--brightYellow);
	text-decoration: none;
}

.textLink:hover, .textLink:focus{
	transition: 0.25s;
	text-decoration: underline;
}

.textLink:active{
	transition: 0.25s;
	color: var(--jet);
}

.blackLink:link, .blackLink:visited{
	transition: 0.25s;
	color: var(--jet);
	text-decoration: underline;
}

.blackLink:hover, .blackLink:focus{
	transition: 0.25s;
	color: var(--brightYellow);
	text-decoration: underline;
}

.blackLink:active{
	transition: 0.25s;
	color: var(--nevajoWhite);
}

li, ul, ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p{
	font-size: 12pt;
	line-height: 18pt;
	margin: 5px 0px 10px;
}

.hp{
	font-family: EncodeSans-Condensed-Light, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 18pt;
	line-height: 24pt;
	margin: 10px 0px 0px;
}

.xh{
	background-color: var(--nevajoWhite);
}

h1{
	color: var(--jet);
	font-family: EncodeSans-SemiExpanded-ExtraBold, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 30pt;
	line-height: 42pt;
	margin: 30px 0px 0px;
}

h2{
	color: var(--jet);
	font-family: EncodeSans-SemiExpanded-SemiBold, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 20pt;
	line-height: 28pt;
	margin: 30px 0px 0px;
}

h3{
	color: var(--jet);
	font-weight: bold;
	font-size: 16pt;
	line-height: 22pt;
	margin: 20px 0px 0px;
}

.content li{
	margin: 10pt 0;
	line-height: 18pt;
}

.leftMargin{
	margin-left: 10px;
}

.leftBorder{
	padding-left: 8px;
	border-left: 5px solid var(--brightYellow);
}

th{
	text-align: left;
}

header{
	background-color: var(--jet);
	display: block;
	list-style: none;
}

.logo{
	height: auto;
	display: flex;
	justify-content: center;
}

.logo a{
	display: block;
}

.logo img{
	display: block;
	margin: auto;
	height: 180px;
	max-width: 100%;
	padding: 25px 15px 10px;
}

.visible_d{width: 0;}

.headTop nav{
	color: var(--brightYellow);
	padding: 5px;
	width: auto;

	display: flex;
	justify-content: center;
}

.headTop ul{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.headTop li{
	display: inline-flex;
	padding: 5px 15px;
}

.headTop nav img{
	vertical-align: middle;
	height: 40px;
}

.aLink{
	font-family: EncodeSans-Condensed-Light, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 18pt;
	vertical-align: center;
}

.aLink:link, .aLink:visited{
	transition: 0.25s;
	color: var(--brightYellow);
}

.aLink:hover, .aLink:focus{
	transition: 0.25s;
	color: var(--papayaWhip);
}

.aLink:active{
	transition: 0.25s;
	color: var(--papayaWhip);
	text-decoration: underline;
}

.headProductNav{
	background-color: var(--nevajoWhite);
	color: var(--jet);
	margin: 0;
}

.headProductNav ul{
	display: block;
	padding: 0px 5px;
}

.pLink{
	display: inline-block;
	padding: 8px 5px;
}

.pLink:link, .pLink:visited{
	transition: 0.25s;
	color: var(--jet);
}

.pLink:hover, .pLink:focus{
	transition: 0.25s;
	color: var(--brightYellow);
}

.pLink:active{
	transition: 0.25s;
	color: var(--papayaWhip);
}

footer{
	background-color: var(--jet);
	color: var(--brightYellow);
	margin-top: 30px;
}

.footLogo{
	margin: 10px 40px;
	display: block;
}

.footLogo img{
  	max-width: 100%;
}

footer nav{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

footer ul{
	width: 150px;
	margin: 20px 40px;
	line-height: 18pt;
}

footer a{
	font-size: 12pt;
	display: inline-block;
}

footer a:link, footer a:visited{
	transition: 0.25s;
	color: var(--brightYellow);
}

footer a:hover, footer a:focus{
	transition: 0.25s;
	color: var(--brightYellow);
	text-decoration: underline;
}

footer a:active{
	transition: 0.25s;
	color: var(--papayaWhip);
}

.bottomBar{
	background-color: var(--brightYellow);
	color: var(--jet);

	font-size: 10pt;
	vertical-align: center;
}

.bottomBar div{
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

.main{
	background-color: var(--papayaWhip);
}

.content{
	margin: 10px;
}

.breadcrumbs{
	display: inline-block;
	font-size: 12pt;
	padding: 4px 0px;
	margin: 2px 0;
	border-top: 1px solid var(--brightYellow);
	border-bottom: 1px solid var(--brightYellow);
}

.breadcrumbs a:link, .breadcrumbs a:visited{
	transition: 0.25s;
	color: var(--brightYellow);
	text-decoration: none;
}

.breadcrumbs a:hover, .breadcrumbs a:focus{
	transition: 0.25s;
	text-decoration: underline;
}

.breadcrumbs a:active{
	transition: 0.25s;
	color: var(--jet);
}

section{
	margin: 15px 0px 25px;
}

.productPromo{
	height: 400px;
	max-height: 400px;
	overflow: hidden;
}

.highlight{
	background-color: var(--nevajoWhite);
	width: 100vw;
	height: 100%;
	position: relative;
	left: 0;
	z-index: 1;
}

.ppBack{
	background-color: var(--nevajoWhite);
	width: 100vw;
	height: 400px;
	position: absolute;
	left: 0;
	z-index: 1;
}

.ppImg{
	height: 400px;
	width: auto;
	position: relative;
	overflow: hidden;
}

.ppImg img{
	display: block;
	width: 100%;
  	min-height: 100%;
	height: auto;
	position: absolute;
	z-index: 2;
}

.ppInfo{
	background-color: rgba(51, 51, 51, .6);
	color: var(--papayaWhip);

	height: 400px;
	margin-right: 10px;
	padding: 0px 10px;

	position: absolute;
	z-index: 3;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ppInfo h2{
	color: var(--brightYellow);
	text-shadow: 2px 2px 0 var(--jet);
}

.ppInfo p{
	font-family: EncodeSans-Condensed-Light, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 16pt;
	line-height: 24pt;
	text-shadow: 1px 1px 0px var(--jet);
}

.bigBtn{
	background-color: var(--brightYellow);
	font-family: EncodeSans-SemiExpanded-ExtraBold, Helvetica, Myriad Pro, Arial, sans-serif;
	color: var(--jet);
	font-size: 20pt;
}

.bigBtn a{
	color: var(--jet);
	padding: 20px 40px;
	display: block;
}

.bigBtn a:link, .gibBtn a:visited{
	transition: 0.25s;
	background-color: var(--brightYellow);
	color: var(--jet);
}

.bigBtn a:hover, .gibBtn a:focus{
	transition: 0.25s;
	background-color: var(--brightYellow);
	color: var(--papayaWhip);
}

.bigBtn a:active{
	transition: 0.25s;
	background-color: var(--nevajoWhite);
	color: var(--brightYellow);
}

.locationMap img{
	display: block;
	border: 2px solid var(--brightYellow);
	width: 100%;
	max-width: 500px;
	height: auto;
}

.locationMap a{
	display: block;
	margin-top: 5px;
}

.employeesGrid div{
	border: 2px solid var(--nevajoWhite);
	display: inline-block;
	padding: 5px;
	margin-bottom: 5px; 

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.employeesGrid img{
	width: 100%;
	max-width: 150px;
	height: auto;
}

.employeesGrid table{
	width: 100%;
}

.employeesGrid th, .employeesGrid td{
	font-size: 10pt;
	width: 50%;
	padding: 2px;
}

.contactForm{
	background-color: var(--papayaWhip);
	width: 100%;
	margin: 30px 0;
}

.contactForm div{
	margin: 10px 0;
}

.contactInput{
	display: block;
	min-width: 200px;
	max-width: 400px;
	width: 60%;
	min-height: 21px;

	margin-top: 5px;
	padding: 4px;
	border: 1px solid var(--jet);
}

.contactInput:focus{

	outline: none;
	border: 1px solid var(--brightYellow);
}

.message{
	min-height: 120px;
	width: 90%;
	max-width: 700px;
	margin-right: 10px;
}

input[type=submit] {
	transition: 0.25s;
	background-color: var(--brightYellow);
	color: var(--jet);
	border: none;

	font-family: EncodeSans-SemiExpanded-SemiBold, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 12pt;
	width: 120px;
	height: 40px;
}

input[type=submit]:link, input[type=submit]:visited{
	transition: 0.25s;
	background-color: var(--brightYellow);
	color: var(--jet);
}

input[type=submit]:hover, input[type=submit]:focus{
	transition: 0.25s;
	background-color: var(--brightYellow);
	color: var(--papayaWhip);
}

input[type=submit]:active{
	transition: 0.25s;
	background-color: var(--jet);
	color: var(--papayaWhip);
}

.refCap{
	display: block;
}

.refCap h3{
	padding-top: 10px;
	margin: 0;
	line-height: 0;
	margin-bottom: 20px;
}

.refCap a, .refCap img{
	display: block;
}

.refCap img{
	width: 100%;
	max-width: 300px;
	height: auto;
	margin: auto;
}

.logosGrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}

.logosGrid div{
	background-color: white;
	border: 2px solid var(--nevajoWhite);
	width: 100px;
	height: 100px;
	margin: 2px;
	padding: 5px;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.logosGrid img{
	width: 100%;
	height: auto;
}

.whiteBack{
	background-color: white;
}

.blackBack{
	background-color: black;
}

table.itbaseTable{
	margin: 15px 0 30px;
	border-collapse: collapse;
}

table.itbaseTable tr:nth-child(odd) {
	background-color: var(--nevajoWhite);
}

table.itbaseTable td, table.itbaseTable th{
	padding: 4px 6px;
	width: 200px;
	min-width: 100px;
	border-left: 2px solid var(--brightYellow);
}

.uList li{
	padding: 0;
	margin: 6pt 0;
	padding-left: 5px;
	border-left: 4px double var(--brightYellow);
}

.visible_m{position: static; visibility: visible;}
.visible_d{	position: absolute; visibility: hidden;}


/*	tablet: */

@media only screen and (min-width: 600px){
.visible_d{width: auto;}
 
body, p{
	font-size: 14pt;
	line-height: 22pt;
}

p{
	margin: 5px 0px 10px;
}

.hp{
	font-size: 18pt;
	line-height: 28pt;
	margin: 15px 0px 0px;
}

h1{
	font-size: 34pt;
	line-height: 46pt;
	text-align: center;
	margin: 30px 0px 0px;
}

h2{
	font-size: 24pt;
	line-height: 38pt;
	margin: 30px 0px 0px;
}

h3{
	font-size: 18pt;
	line-height: 26pt;
	margin: 20px 0px 0px;
}

.leftMargin{
	margin-left: 20px;
}

.headTop{
	display: grid;
	grid-template-columns: 380px 1fr 200px;
	grid-template-areas: 
	"logo  ....  hnav";

	display: flex;
	justify-content: space-between;
}

.logo{
	height: auto;
	grid-area: logo;
}

.logo img{
	height: 75px;
	margin: 0;
	padding: 10px;
}

.headTop nav{
	grid-area: hnav;
	width: 165px;
	margin: 0;
}

.headTop nav li{
	padding: 0;
	margin-left: 0;
}

.headProductNav{
	position: sticky;
	top: 0;
	margin: 0;

	box-shadow: 0px 5px 0px var(--brightYellow);
}

.headProductNav ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pLink{
	padding: 8px 30px;
}

.footNav{
	display: grid;
	grid-template-columns: 2fr minmax(3fr, 500px);
	grid-template-areas: 
	"flgo flgo fnav fnav fnav .... ....";
}

.footLogo{
	grid-area: flgo;
	justify-content: center;
	vertical-align: middle;
}

.footNav nav{
	grid-area: fnav;
}

.main{
	background-color: var(--papayaWhip);
	display: grid;
	grid-template-columns: 1fr minmax(600px, 1200px) 1fr;
	grid-template-areas: 
	".... main ....";
}

.content{
	margin: 10px 30px;
	grid-area: main;
}

.separator{
	display: block;
	width: 60%;
	border-bottom: 2px solid var(--brightYellow);
	font-size: 0;
	margin: 20px auto 60px;
}

.extraSpace{
	height: 40px;
}

.ppInfo{
	margin-right: 30px;
	padding: 0px 20px;
}

.ppInfo p{
	font-family: EncodeSans-Condensed-Light, Helvetica, Myriad Pro, Arial, sans-serif;
	font-size: 20pt;
	line-height: 28pt;
}

.ppImg{
	height: 400px;
	position: relative;
	overflow: hidden;
}

.ppImg img{
	width: auto;
	height: auto;
	position: absolute;
	z-index: 2;
	clip-path: inset(0px 0px 200px);
}

.employeesGrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.employeesGrid div{
	width: 340px;
	padding: 5px;
	margin: 5px;
}

.employeesGrid th, .employeesGrid td{
	font-size: 12pt;
}

.logosGrid div{
	width: 150px;
	height: 150px;
}

table.itbaseTable td, table.itbaseTable th{
	padding: 4px 6px;
	width: 250px;
}

.visible_d{position: static; visibility: visible;}
.visible_m{	position: absolute; visibility: hidden;}
}


/*	desktop	*/

@media only screen and (min-width: 800px){
body, p{
	font-size: 14pt;
	line-height: 22pt;
}

p{
	margin: 10px 0px 15px;
}

.hp{
	font-size: 20pt;
	line-height: 28pt;
	margin: 20px 0px 0px;
}

h1{
	font-size: 36pt;
	line-height: 46pt;
	margin-top: 40px;
}

h2{
	font-size: 26pt;
	line-height: 38pt;
	margin-top: 40px;
}

h3{
	font-size: 18pt;
	line-height: 28pt;
	margin-top: 30px;
}

.headTop{
	grid-template-columns: 500px 1fr 220px;
}

.headTop nav{
	margin-top: 5px;
}

.logo img{
	height: 90px;
}

.headProductNav{
	margin: 0;
}

.pLink{
	padding: 8px 50px;
}

.bottomBar{
	display: block;
	text-align: left;
}

.bottomBar div{
	display: inline-block;
	margin: 0;
}

.breadcrumbs{
	font-size: 12pt;
}

section{
	margin: 30px 0px 40px;
}

.productPromo{
	height: 400px;
	max-height: 400px;
}

.ppBack{
	background-color: var(--nevajoWhite);
	width: 100vw;
	height: 400px;
	position: absolute;
	left: 0;
	z-index: 1;
}

.ppImg{
	height: 400px;
	position: relative;
	overflow: hidden;
}

.ppImg img{
	width: auto;
	height: auto;
	position: absolute;
	z-index: 2;
	clip-path: inset(0px 0px 200px);
}

.ppInfo{
	background-color: rgba(51, 51, 51, .6);
	color: var(--papayaWhip);

	width: 500px;
	height: 400px;
}

.ppInfo h2{
	font-size: 28pt;
	margin-top: 20px;
}

.ppInfo p{
	font-size: 18pt;
	line-height: 26pt;
	text-shadow: 2px 2px 0 var(--jet);
}

.bigBtn a{
	padding: 10px 40px;
}

.employeesGrid{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.employeesGrid div{
	width: 340px;
	padding: 5px 0px;
	margin: 5px;
}

.refCap{
	display: grid;
	grid-template-columns: minmax(100px, 1fr) minmax(300px, 2fr);
	grid-gap: 10px;
}

.refCap h3{
	padding-top: 0px;
	margin-top: -20px;
	line-height: 0;
	margin-bottom: 20px;
}

.logosGrid div{
	width: 200px;
	height: 200px;
}

.visible_m{	display: none;}
}
}
