<template>
<div class="content container--readable">
    <p>Error 404:</p>
    <h1>Page not found</h1>
    <p>Can't seem to find the page you're looking for. <router-link :to="{ name: 'Home'}">Go home?</router-link></p>
    
</div>
</template>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

.content{
    margin-top: 40px;
    h1{
        line-height: 1;
        margin: 0 0 20px;
    }
}

</style>
