<template>
<div class="content container--readable">
    <h1>About</h1>
</div>
</template>

<script>
export default {
    name: "About"
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

</style>
