<template>
<div class="content container--readable">
    <h1>Contact</h1>
    <p>anna.e.hofseth@gmail.com</p>
</div>
</template>

<script>
export default {
    name: "About"
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

</style>
