<template>
<div>
    <Lightbox ref="lightbox"
        @onInit="initLightbox"
    />
    <div class="header" v-if="loaded">
        <div class="header__image">
            <img class="pointer--no-select"
                v-bind:src="frontImage" v-on:click="lightbox.setActive(true)">
            <i class="header__image__lightbox-btn pointer--clickable fas fa-expand"
                v-on:click="lightbox.setActive(true)"></i>
        </div>
        <div class="header__title container--readable">
            <h1>{{proj.title}}</h1>
        </div>
    </div>
    <div class="content container--readable" v-if="loaded">
        <Beats v-if="proj.short == 'beats'"></Beats>
        <Acos v-if="proj.short == 'acos'"></Acos>
        <After v-if="proj.short == 'after'"></After>
        <Evolution v-if="proj.short == 'evolution'"></Evolution>
        <Deadly v-if="proj.short == 'deadly'"></Deadly>
        <Holidaze v-if="proj.short == 'holidaze'"></Holidaze>
        <Emberclaw v-if="proj.short == 'emberclaw'"></Emberclaw>
        <Hovlia v-if="proj.short == 'hovlia'"></Hovlia>
        <Infotech v-if="proj.short == 'infotech'"></Infotech>
        <LastTavern v-if="proj.short == 'last-tavern'"></LastTavern>
        <Mtg v-if="proj.short == 'mtg'"></Mtg>
        <SkullStudy v-if="proj.short == 'skull-study'"></SkullStudy>
        <Askeladden v-if="proj.short == 'askeladden'"></Askeladden>
        <Yggdrasil v-if="proj.short == 'yggdrasil'"></Yggdrasil>
        <Terrainial v-if="proj.short == 'terrainial'"></Terrainial>
        <MrPres v-if="proj.short == 'mrpres'"></MrPres>
        <MrFlour v-if="proj.short == 'mrflour'"></MrFlour>
        <Markus v-if="proj.short == 'markus'"></Markus>
        <!--
            Use if or switch-case for inserting correct content?
        -->
    </div>
</div>
</template>

<script>
import Lightbox from './../components/Lightbox';
import { utils } from './Showcase';

import Acos from './projects/Acos';
import After from './projects/After';
import Beats from './projects/Beats';
import Evolution from './projects/Evolution';
import Deadly from './projects/Deadly';
import Holidaze from './projects/Holidaze';
import Emberclaw from './projects/Emberclaw';
import Hovlia from './projects/Hovlia';
import Infotech from './projects/Infotech';
import LastTavern from './projects/LastTavern';
import Mtg from './projects/Mtg';
import SkullStudy from './projects/SkullStudy';
import Askeladden from './projects/Askeladden';
import Yggdrasil from './projects/Yggdrasil';
import Terrainial from './projects/Terrainial';
import MrPres from './projects/MrPres';
import MrFlour from './projects/MrFlour';
import Markus from './projects/Markus';

export default {
    name: "Project",
    props: [ "id" ],
    components: { 
        Lightbox, 

        Acos, 
        After,
        Beats,
        Evolution,
        Deadly,
        Holidaze,
        Emberclaw,
        Hovlia,
        Infotech,
        LastTavern,
        Mtg,
        SkullStudy,
        Askeladden,
        Yggdrasil,
        Terrainial,
        MrFlour,
        MrPres,
        Markus
        },
        
    mixins: [ utils ],
    data(){
        return {
            loaded: false,
            proj: null,
            frontImage: ""
        }
    },
    beforeMount(){
        utils.getProjects(this.initProject);
    },
    methods: {
        initProject(all){
            let app = this;
            for(let p of all){
                if (p.short === app.id){
                    app.proj = p; break;
                }
            }

            app.loaded = true;
            
            app.frontImage = "./images/projects/" + app.proj.short + "/cover.jpg";
            this.lightbox.setImages(this.imageSrcList());
        },
        initLightbox(lb){
            this.lightbox = lb;
        },
        imageSrcList(){
            let app = this;

            let list = [];
            for(let i of app.proj.gallery)
                list.push('./images/projects/' + app.proj.short + '/' + i.src_l)
            return list;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

.header{
    background-color: $mid;
    border-bottom: 2px solid $black;

    &__image{
        height: 60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        
        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__lightbox-btn{
            @include full-text-shadow(4px, 8px, rgba($black, .5));
            position: absolute;
            right: 20px;
            bottom: 20px;
            font-size: 30px;

            transition: .4s;
            transform: scale(1,1);

            &:hover, &:focus, &:active{
                transition: .2s;
                transform: scale(1.1, 1.1);
            }
        }
    }

    &__title{
        padding: 10px 0;

        h1{
            margin: 0;
        }
    }
}

.content{
    min-height: 40vh;
    padding: 40px 0;
}

.viewport{
    width: 100%;
    height: 400px;
}

.credits{
	margin-top: 40px;
	padding-top: 20px;
    border-top: 2px solid $detail;
    
    &__role{
		margin-left: 15px;
    }

    &__name{
		margin-left: 30px;
    }
}

</style>
