<template>
    <div class="content">
        <div class="container" v-if="!loaded">
            <ProjectPreview v-for="n in 6" v-bind:project="null"/>
        </div>
        <div class="container" v-else>
            <ProjectPreview v-for="proj in filteredProjects" v-bind:key="proj"
                            v-bind:project="proj"/>
        </div>
    </div>
</template>

<script>
export const utils = {
    getProjects(onSuccess)
    {
        const path = ".//data/projects.json";

        fetch(path, {
          mode : "cors",
          method : "GET",
          headers : {
              'Content-Type' : 'application/json'
        }})
        .then(function(response) {
            return response.json();
        })
        .then(function(result) {
            onSuccess(result.projects);
        });
    }
}

import ProjectPreview from "./../components/ProjectPreview";

export default {
    name: "Showcase",
    props: [ "tags" ],
    components: {
        ProjectPreview
    },
    mixins: [ utils ],
    watch: {
        "$route" (){
            this.sortProjects();
        }
    },
    data(){
        return{
            loaded: false,
            tagsList: [],
            allProjects: [],
            filteredProjects: []
        }
    },
	beforeMount(){
        utils.getProjects(this.initAllProjects);
    },
    methods: {
        initAllProjects(obj)
        {
            this.allProjects = obj;
            this.loaded = true;
            this.sortProjects();
        },
        sortProjects()
        {
            this.tagsList = this.tags !== undefined ? this.tags.split('_') : [];
            this.filteredProjects = this.allProjects;

            if (this.tagsList.length > 0){
                this.filteredProjects = this.allProjects
                    .filter( p => {
                        for(let tag of this.tagsList){
                            for(let pTag of p.tags)
                                if (tag.toLowerCase() === pTag.toLowerCase())
                                return p;
                    }
                })
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

.container{
	display: block;
}

/// Tablet & Desktop //////
@media only screen and (min-width: $tabletMinWidth){
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}
}

/// Desktop //////
@media only screen and (min-width: $desktopMinWidth){
.container{
	grid-template-columns: 1fr 1fr 1fr;
}
}
</style>
