/*	root div	*/
#calendarContainter{
	max-width: 600px;
	color: #000000;
	height: auto;
	padding: 0 3px 1px;
	border-radius: 3px;
	transition: .2s;
}

.blueBackground{
	background-color: rgba(0,130,159,0.82);
}

/*	header, buttons	*/
#topRow{
	color: #E6E6E6;
	font-family: 'Raleway', sans-serif;
	font-size: 20pt;
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

/*	row with day names	*/
#daysRow{
	color: #E6E6E6;
	font-family: 'Raleway', sans-serif;
	height: 21px;
}

/*	buttons in header	*/
.changeMonthBtn{
	background-color: rgba(0,0,0,0);
	color: #f2f2f2;
	border: none;
	font-size: 22pt;
	font-weight: bold;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

/*	all 8 rows, included header and daynames	*/
.row{
	height: 50px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 2px;
	margin: 2px 0 ;
}

/*	row that expands when clicking on a day	*/
.hourRow{
	height: 100%;
	max-height: 200px;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 2px;
	margin: 0 0 2px;
}

/*	div inside hourRow again	*/
.hourRowDays{
	height: 100%;
	color: #F2F2F2;
	background-color: #B3B3B3;
	display: grid;
	grid-row-columns: repeat(24, 1fr);
	grid-gap: 2px;
}

/*	used at each day-div, also daynames	*/
.rowBox{
	display: flex;
	justify-content: center;
}

/*	div-box for each hour	*/
.hourBox{
	color: rgba(0,130,159,.82);
	background-color: #F6F6F6;
	font-family: 'Raleway', sans-serif;
	font-size: 9pt;
	overflow-x: hidden;
	padding-left: 2px;
}

/*	style for reserved hours	*/
.hourTaken{
	background-color: #FFAAAA;
}

/*	style for reserved hours	*/
.hourSelected{
	background-color: #AAFFFF;
}

/*	each of the 7x6 day-boxes	*/
.day{
	color: #006B82;
	background-color: #E6E6E6;
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	border-radius: 2px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	cursor: pointer;
}

/*	style for days outside of the current month	*/
.otherMonth{
	background-color: #B9D6DC;
	color: rgba(0,130,159,0.6);
}

/*	style for todays date	*/
.today{
	background-color: #AAFFCC;
}

/*	style for selected day(s)	*/
.focusDay{
	color: #F2F2F2;
	background-color: #00829E;
	opacity: .8;
}