<template>
<div>
    <div class="lightbox" v-if="active">
        <div class="lightbox__bg" v-on:click="setActive(false)"/>
        <div class="lightbox__image image--cover flex-center--h" v-if="images != undefined">
            <img v-bind:src="images[currentIndex]" v-on:click="stepImages(1)">
        </div>
        <i class="lightbox__exit pointer--clickable fas fa-times" v-on:click="setActive(false)"/>
        <div class="lightbox__controllers" v-if="images.length > 1">
            <i class="pointer--clickable fas fa-chevron-left" v-on:click="stepImages(-1)"/>
            <i class="pointer--clickable fas fa-chevron-right" v-on:click="stepImages(1)"/>
        </div>
    </div>
</div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;

export default {
    name: "Lightbox",
    params: [ "images" ],
    data() {
        return {
            active: false,
            currentIndex: 0
        }
    },
    beforeMount(){
        let app = this;
        app.$emit("onInit", this);
        document.addEventListener('keydown', (event) => { app.keyPress(event); }, false);
    },
    methods: {
        setImages(list){
            let app = this;
            app.images = list;
            app.setImage(0);
        },
        setImage(index){
            let app = this;
            app.currentIndex = index;
            app.$emit("onSetImage", index);
        },
        stepImages(step){
            let app = this;
            let fixedStep = app.currentIndex + step;
            let maxIndex = app.images.length - 1;

            if(fixedStep < 0) fixedStep = maxIndex;
            else if (fixedStep > maxIndex) fixedStep = 0;

            app.setImage(fixedStep);
        },
        setActive(active){
            let app = this;
            if (app.active == active) return;
            
            app.active = active;
            app.$emit("onSetActive", active);

            if (active)
                $("body").addClass("no-scroll");
            else
                $("body").removeClass("no-scroll");
        },
        keyPress(event){
            let app = this;
            switch (event.key) {
                case "Escape":
                    app.setActive(false);
                    break;
                case "ArrowLeft":
                    app.stepImages(-1);
                    break;
                case "ArrowRight":
                    app.stepImages(1);
                    break;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

.lightbox{
    @include full-absolute();
    position: fixed;
    z-index: 1;

    &__bg{
        background-color: rgba($black, .8);
        @include full-absolute();
    }

    &__image{
        $padding: 60px;
        border-radius: 4px;

        position: absolute;
        top: $padding; bottom: $padding;
        left: $padding; right: $padding;
        z-index: 1;
    }

    &__controllers{
        @include full-absolute();
        z-index: 0;
        height: 20px;
        margin: auto 20px;
        display: flex;
        justify-content: space-between;
    }

    &__exit{
        position: absolute;
        top: 20px; right: 20px;
    }

    i{
        color: $white;
        font-size: 30px;
        @include full-text-shadow(4px, 10px, rgba($black, .5));
        
        transition: .2s;
        transform: scale(1, 1);

        &:hover, &:focus, &:active{
            transform: scale(1.2, 1.2);
        }
    }
}

</style>
