<template>
<div id="page-footer" class="container--fluid">
    <nav class="menu margin--left margin--right">
        <ul class="menu__list">
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'game_project' }}">Games and Projects</router-link>
            </li>
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: '3d_animation' }}">3D and Animation</router-link>
            </li>
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'art_design' }}">Art and Design</router-link>
            </li>
        </ul>
        <ul class="menu__list">
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'noroff' }}">Noroff: Front-End Development</router-link>
            </li>
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'inn' }}">INN University: OPIM</router-link>
            </li>
        </ul>
        <ul class="menu__list"><!--
            <li class="menu__list__item"><router-link
                :to="{ name: 'About'}">About</router-link>
            </li>-->
            <li class="menu__list__item"><router-link
                :to="{ name: 'Contact'}">Contact</router-link>
            </li><!--
            <li class="menu__list__item"><router-link
                :to="{ name: 'Resume'}">Resume</router-link>
            </li>-->
        </ul>
    </nav>
</div>
</template>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

#page-footer{
    background-color: $black;
    border-bottom: 2px solid $detail;
    border-top: 1px solid $mid;

    display: flex;
    justify-content: center;
    text-align: center;

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px;

        &__list{
            display: inline-block;
            padding: 10px 0;
            margin: auto 10px;

            &__item{
                min-width: 252px;
                padding: 4px 0;
            }
        }
    }
}
</style>
