<template>
<div id="page-header" class="container--fluid">
    <div class="logo margin--left">
        <router-link :to="{ name: 'Home'}">Anna Ervik Hofseth</router-link>
    </div>
    <nav class="menu margin--left">
        <ul class="menu__list">
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'game_project' }}">Games and Projects</router-link>
            </li>
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: '3d_animation' }}">3D and Animation</router-link>
            </li>
            <li class="menu__list__item"><router-link
                :to="{ name: 'Showcase', params: { tags: 'art_design' }}">Art and Design</router-link>
            </li>
        </ul>
    </nav>
</div>
</template>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";
#page-header{
    background-color: $mid;
    border-top: 2px solid $detail;
    border-bottom: 1px solid $light;

    .logo{
        font-family: $logoFont;
        font-size: 21pt;
        padding: 8px 0;
    }

    .menu{
        display: flex;
        justify-content: left;

        &__list{
            display: flex;
            flex-direction: row;

            &__item{
                margin-right: 15px;

                a{
                    display: block;
                    padding-bottom: 8px;
                }
            }
        }
    }
}
</style>
