<template>
<div v-if="loader" class="pw">
    <div class="pw__dets"></div>
</div>
<router-link v-else class="pw" :to="{ name: 'Project', params: { id: project.short }}">
    <img class="pw__image" v-bind:src="image" v-bind:project="title">
    <div class="pw__dets">
        <div class="pw__dets__title">{{project.title}}</div>
        <div class="pw__dets__tags">{{project.tags.join(', ')}}</div>
        <div class="pw__dets__date">{{project.date}}</div>
    </div>
</router-link>
</template>

<script>
export default {
    name: "ProjectPreview",
    props: [ "project" ],
    data(){
        return {
            loader: true,
            image: ""
        }
    },
    beforeMount(){
        if (this.project == null)
            return;

        this.loader = false;
        this.image = "./images/previews/" + this.project.short + ".jpg";
        //this.image = "./../assets/images/previews/" + this.project.short + ".jpg";
    }
}
</script>

<style lang="scss" scoped>
@import "./../assets/scss/_partials-min";

.pw{
    background-color: $mid;
    display: block;
    position: relative;
    width: 100%;
    height: 100vw;
    overflow: hidden;
    
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__dets{
        transition: .6s;
        background-color: rgba(black, .65);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;

        &__title{
            color: white;
            font-size: 18pt;
            margin: 20px 10px;
            @include full-text-shadow(2px, 6px, rgba($black, .65));
        }

        &__tags{
            position: absolute;
            left: 10px;
        }

        &__date{
            position: absolute;
            right: 10px;
            text-align: right;
        }
    }
	
    &:link, &:visited{
        .pw{
            &__image{
                transition: .4s;
                transform: scale(1, 1);
            }

            &__dets__tags,
            &__dets__date{
                transition: .4s;
                opacity: 0;
            }
        }
    }
    
    &:hover, &:focus, &:active{
        .pw{
            &__image{
                transition: .1s;
                transform: scale(1.1, 1.1);
            }

            &__dets__tags,
            &__dets__date{
                transition: .1s;
                opacity: .65;
            }
        }
    }
}

/// Tablet & Desktop //////
@media only screen and (min-width: $tabletMinWidth){
.pw{
    height: 45vw;

    &__dets{
        &__title{
            font-size: 18pt;
        }
    }
}
}
/// Desktop //////
@media only screen and (min-width: $desktopMinWidth){
.pw{
    height: 30vw;

    &__dets{
        &__title{
            font-size: 18pt;
        }
    }
}
}
</style>
