<template>
<div>
    <h2>Brief</h2>
    <p>At my first day of the Workflow-course, we got a visit from Acos. They had a project for us. We were asked to 
        design and develop a prototype of a booking system, implementable to websites in need of this. </p>
    <p>This project was the Course Assignment of Workflow1, and a group project in which I worked with Sanna and Jørgen.</p>

    <h2>Process</h2>
    <p>This project scope was three weeks, where we planned the project and set up various tools during the first week. 
        We discussed prioritized functionality and partioned main roles between us. Sanna was our Lead Designer, Jørgen 
        was our Lead HTML/CSS-developer, and I was in charge of the Javascript.</p>
    <p>The tools and documents we used during the project, was a Gantt-chart, Trello for project management, and 
        Bitbucket/Sourcetree for version control. We also practiced using Agile, by creating user stories, epics, and 
        prioritized todos thoughout the project.</p>
    <p>The calendar, as it's a critical element in the booking process, was the first thing I started developing though 
        Javascript. The first version of the calendar, was a classic calendar whith next/previous buttons that changed 
        the displayed month. For the next step, I turned the days into buttons, which opened the day up to display its hours. 
        This calendar was ready for implementation at week 2.</p>
    <!--<p>Live calendar below:</p><div id='calendarContainter' style='margin: 20px 0'></div>-->
    <p>During the final week, I developed search-functionality and wrote some dummy-data to test it on. The search system 
        can search though categories and name of location/activity. </p>
    <p>During the final days before the due date, The group worked on polishing the final touches of the product. I styled 
        and polished the calendar, implemented the reservation-page, breadcrumbs, and a map (just as a regular map, not 
        linked to the booking-system for now).</p>

    <h2>Conclusion</h2>
    <p>The finished prototype displays the planned concept and design well. The group worked well together, and I think 
        the finished prototype is a good concept.</p>

    <h2>Result</h2>
    <a href='noroff/acos-booking/' title='Link to the prototype (opens in new tab)' target='_blank'>Acos Booking</a>
			
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>