<template>
<div>
    <p>“After” is about being the caretaker of souls. Guide the souls with your light, so that they may safely traverse to 
        the afterlife. Burn too bright and you'll incinerate them, shine too dim and they'll lose their way. </p>
    <p>This year, we chose to focus on visuals since our group is composed out of 2D and 3D artists and one programmer, 
        where the theme is somewhat broad and up for interpretation. </p>
    <p>The boat travels on an invisible track where the speed of the boat and intensity of the light in the lantern 
        increases as you hold in the spacebar on the keyboard, but quickly slows down and fades if you let go. So the key 
        is to balance the speed and light in order to guide as many souls as possible to the afterlife.</p>
    <p>“After” was made during <a href='https://globalgamejam.org/2018/games/after' title='GGJ page (opens in new tab)' target='_blank'>Global Game Jam 2018</a>, 
        location Hamar.</p>

    <div class='credits'>
        <h2>Credits</h2>
        <h3 class='credits__role'>2D art and graphics</h3>
        <p class='credits__name'>Linn Kristine Pettersen</p>
        <p class='credits__name'>Silje Ekevall Sandbrekkene</p>
        <p class='credits__name'>Shervin Danai</p>

        <h3 class='credits__role'>3D design and modeling</h3>
        <p class='credits__name'>Daniel Eriksen</p>
        <p class='credits__name'>Oda Kristine Sandaker</p>
        
        <h3 class='credits__role'>Programming</h3>
        <p class='credits__name'>Anna Ervik Hofseth</p>
    </div>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
