<template>
<div>
    <p>This project was my bachelor assignment for my videogame- programming and design bachelor. We were 
        a group of five people, consisting of two programmers, two animators/3D-modelleres, and one designer. 
        I had the role as lead programmer.</p>
    <p>We created an app for children age 3-9, the app served as a book where we recreated the concept of a 
        classical pop-up book. The story of the book is a classical norwegian fairytale about “Askeladden”, 
        or “The Ashlad”.</p>
    <p>Unity Engine was used for development, and the project went on for five months. Published on App Store 
        and handed in spring/summer 2015. Although, it is no longer available for download.</p>
        <!--<a href='https://itunes.apple.com/no/app/id995205808' title='App Store page (opens in new tab)' target='_blank'>Available on App Store</a>
    <p>[live game instructions]</p>
    <p>[live game]</p>-->
    <div class='credits'>
        <h2>Credits</h2>
        <h3 class='credits__role'>2D art</h3>
        <p class='credits__name'>Stine Follesø Taule</p>
        
        <h3 class='credits__role'>3D modeling and animation</h3>
        <p class='credits__name'>Bjørn Andreassen</p>
        <p class='credits__name'>Anja Karoline Jensen Nordvålen</p>

        <h3 class='credits__role'>Programming</h3>
        <p class='credits__name'>Anna Ervik Hofseth</p>
        <p class='credits__name'>Mats Jenssen</p>

        <h3 class='credits__role'>Music and sound effects</h3>
        <p class='credits__name'>Pål Andreas Foldal Aam</p>
        <p class='credits__name'>Mathias Hansen</p>
        <p class='credits__name'>Joakim Andersson</p>
        
        <h3 class='credits__role'>Special thanks to</h3>
        <p class='credits__name'>Tore Stenersen on narration</p>
    </div>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>