<template>
<div>
    <p>Beats is a game about a world full of noise, where you play as a tired student just wishing for some shut-eye, 
        but the world outside is making too much noise. Your job is to use whatever means necessary for slience.</p>
    <p>Our team consisted of two programmers and five designers/modellers. I had the role as lead programmer, and my 
        responsibility were the 3rd-person controllers, camera movement, noise-system, AI, events, and all interactions in the game.</p>
    <p>We worked on this project over four months, using Unity Engine for development. Finished december 2014.</p>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
