<template>
<div>
    <p>'Deadly' is a hand-drawn illustration, drawn by pen on A2-sized paper. Finished november 2015.</p>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>