<template>
<div>
    <p>Game asset made during 'Advanced 3D modeling'-course. Blocking and modeling was done 
        using Autodesk Maya and sculpting was done in Autodesk Mudbox.</p>
    <p>'Emberclaw' concept by Max Davenport.</p>
    <br><!--<p>[Turntable render]</p><p>[Unity showcase build]</p>-->
    <div class='sketchfab-embed-wrapper'>
        <iframe class='viewport' width='100%' height='480' 
        src='https://sketchfab.com/models/c003f20053114a6d81fb7ba5adf9280f/embed?autostart=1' 
        frameborder='0' allow='autoplay; fullscreen; vr' mozallowfullscreen='true' webkitallowfullscreen='true'></iframe>
        <p style='font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;'>
            <a href='https://sketchfab.com/models/c003f20053114a6d81fb7ba5adf9280f?utm_medium=embed&utm_source=website&utm_campaign=share-popup' 
            target='_blank' style='font-weight: bold; color: #1CAAD9;'>Emberclaw, high LOD</a>
            by <a href='https://sketchfab.com/annahofseth?utm_medium=embed&utm_source=website&utm_campaign=share-popup' 
            target='_blank' style='font-weight: bold; color: #1CAAD9;'>annahofseth</a>
            on <a href='https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup' 
            target='_blank' style='font-weight: bold; color: #1CAAD9;'>Sketchfab</a>
        </p>
    </div>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
