<template>
<div>
    <p>Hand-drawn illustration, drawn by pen on A3-sized paper. Finished february 2015.</p>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
