<template>
<div>
    <p>For my final exam in Front-End development at Noroff, I developed an accommodation-website for 
        Bergen. The website covers both booking, and administration of listings.</p>
    <a href='http://annahofseth.com/noroff/holidaze' title='Link to Holidaze (opens in new tab)' target='_blank'>Holidaze website</a>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
