<template>
<div>
    <p>Hovlias' homesite was designed and developed during my semester project in Front-End development at Noroff spring 2018. 
        The website has been maintained and updated later on.</p>
    <a href='http://www.hovlia.no/' title='Link to hovlia.no (opens in new tab)' target='_blank'>Hovlia homesite</a>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
