<template>
<div>
    <p>School project for Infotech, where I created a prototype for their new website.</p>
    <a href='noroff/infotech/index.html' title='Link to Infotech project (opens in new tab)' target='_blank'>Infotech AS</a>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
