<template>
<div>
    <p>You’re the owner of the last tavern before a deep and perilous dungeon. Your job is to outfit adventurers 
        seeking to retreive the treasures lost in the mines with items that will protect them from dangers... 
        Only, you won’t know what dangers lurk below before you check the adventurer’s SNAPTRAP-story to find 
        out what they died of... Send adventurers down with whatever you think they’ll need, then learn from 
        your mistakes as you get hints to what this particular journey has in store for the heroes.</p>
    <p>“The Last Tavern* (*Before You Die)” was made during 
        <a href='https://globalgamejam.org/2019/games/last-tavern-you-die' title='GGJ page (opens in new tab)' target='_blank'>
        Global Game Jam 2019</a>, location Hamar.</p>

    <div class='credits'>
        <h2>Credits</h2>
        <h3 class='credits__role'>Art and graphics</h3>
        <p class='credits__name'>Linn Kristine Pettersen</p>
        <p class='credits__name'>Silje Ekevall Sandbrekkene</p>
        <p class='credits__name'>Sabina Vedvik Johnsen</p>
        <p class='credits__name'>Shervin Danai</p>
        <p class='credits__name'>Elizabeth Mjelde</p>
        <p class='credits__name'>Hanna Karine Koppang Niemi</p>
        
        <h3 class='credits__role'>Programming</h3>
        <p class='credits__name'>Herman Tandberg Dybing</p>
        <p class='credits__name'>Anna Ervik Hofseth</p>

        <h3 class='credits__role'>Audio</h3>
        <p class='credits__name'>Julie Nagell Hagen</p>
        <p class='credits__name'>Oda Tilset</p>
    </div>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
