<template>
<div>
    <p>Markus is a pedagogical arcade game with middle schoolers as the target audience. The game is about a 
        worm named Markus that digs underground, collects leaves, and brings them up to the seeds at the 
        surface to help them grow to plants. You have to watch out for the timer and the moles though. The 
        game consists of four levels, one level for four sides of a rotating cube.</p>
    <p>We were a team of five people working on the game, one designer, two animators/modellers, and two 
        programmers. I had the role as lead programmer. I created the controllers, menu, and level system.</p>
    <p>Development took place over three months, and we used Unity Engine for development. Finished december 2013.</p>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
