<template>
<div>
    <p>Animation short I made for a “3D-animation and Character Rigging”assignment. Animating was done in Autodesk Maya, 
        and the scene was finished december 2015.</p>
    <p>'Mr. Flour Sack' rig made by Joe Daniels.</p>
    <iframe class='viewport' width='100%' height='480' src='https://www.youtube.com/embed/3oWcXOWFMnA'></iframe>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
