<template>
<div>
    <p>“Mr. President Builds a Wall” is a game about a president building a wall. 
        Your job as the player is to keep the wave of cash up and going, while 
        collecting bricks. The goal is to collect as many bricks as possible to 
        create the yugest wall.</p>
    <p>The game was built around using the “Makey Makey”. A stack of cash is the 
        controller. You keep the wave up by slapping it in your palm (pictured below).</p>
    <img src='rs/images/projects/mrpres/makey.jpg'>
    <p>“Mr. President Builds a Wall” was made during 
        <a href='https://globalgamejam.org/2017/games/mr-president-builds-wall' title='GGJ page (opens in new tab)' target='_blank'>
        Global Game Jam 2017</a>, location Hamar.</p>

    <div class='credits'>
        <h2>Credits</h2>
        <h3 class='credits__role'>Game design (and various tasks)</h3>
        <p class='credits__name'>Alex Tind</p>

        <h3 class='credits__role'>Art and graphics</h3>
        <p class='credits__name'>Linn Kristine Pettersen</p>
        <p class='credits__name'>Silje Ekevall Sandbrekkene</p
        
        ><h3 class='credits__role'>Programming</h3>
        <p class='credits__name'>Anna Ervik Hofseth</p>
        
        <h3 class='credits__role'>Special thanks to</h3>
        <p class='credits__name'>Nicki Rapp as the voice of Mr. President</p>
    </div>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
