<template>
<div>
    <p>This project is a search engine for Magic the Gathering-cards, powered by 
        <a href='https://magicthegathering.io/' title='MTG API' target='_blank'>MTG API</a>.</p>
        <br>
        <br>
        <a href='noroff/mtg/' title='MTG Search Engine' target='_blank'>MTG Search Engine</a>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
