<template>
<div>
    <p>'Dendrofil for Yggdrasil' is a hand-drawn illustration, drawn by pen on A2-sized paper. Finished october 2020.</p>
</div>
</template>

<style lang="scss" scoped>
@import "./../../assets/scss/_partials-min";
</style>
