<template>
  <div id="app">
    <PageHeader/>
    <router-view/>
    <PageFooter/>
  </div>
</template>

<script>
import PageHeader from './components/PageHeader.vue'
import PageFooter from './components/PageFooter.vue'

export default {
  name: 'app',
  components: {
    PageHeader,
    PageFooter
  }
}
</script>

<style lang="scss">
@import "assets/scss/main";

#app{
	min-height: 100%;

	// Page footer setup
	display: grid;
	grid-template-rows: auto 1fr auto;
}
</style>
